 <div class="container">
      <div class="filtragem">
        <div><span>Filtrar Relatório</span></div>
        <form class="row">
          <div class="col-lg-3 mb-3">
            <legend>Status:</legend>
            <select class="custom-select" id="formStatus myInput">
              <option selected>Submetida</option>
              <option value="1">Aprovada - NAPE</option>
              <option value="2">Aprovada - Comissão</option>
              <option value="3">Solucionada</option>
              <option value="4">Cancelada</option>
            </select>
          </div>

          <div class="col-lg-3">
            <legend>Data de Submissão:</legend>
            <select class="custom-select" id="formStatus">
              <option selected>Hoje</option>
              <option value="1">Ontem</option>
              <option value="2">Nesta Semana</option>
              <option value="3">Semana Passada</option>
              <option value="4">Mês passado</option>
            </select>
          </div>

          <div class="col-lg-3">
            <button type="button" class="btn btn-primary">Filtrar</button>
          </div>
        </form>
      </div>

      <div>
        <table class="table table-bordered table-responsive table-striped">
          <thead>
            <tr>
              <th>Email</th>
              <th>Responsável</th>
              <th>Data</th>
              <th>Reclamação</th>
              <th>Status</th>
              <th>Observação</th>
            </tr>
          </thead>
          <tbody class="tableMembroAutenticado">
           <% denuncias.forEach(denuncia => { %>
            <tr>
              <td class="align-middle"><%=  denuncia.email %></td>
              <td class="nomeFormat align-middle">
                <form>
                  <div class="form-row">
                    <select class="custom-select statusSelect" onchange="atualizarResponsavel(this,'<%= JSON.stringify(denuncia)%>')">
                      <%usuarios.forEach(usuario => { %>
                        <option> <%= usuario.nome %> </option>
                      <% }); %>
                    </select>
                  </div>
                </form>
              </td>
              <td>
                <%= denuncia.datahoraSubmissao.toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
              </td>
              <td class="align-middle">
                <%= denuncia.descricao%>
              </td>
              <td class="statusFormat align-middle">
                <form>
                  <div class="form-row">
                    <select class="custom-select statusSelect" onchange="atualizarStatus(this,'<%= JSON.stringify(denuncia) %>')">
                      <option disabled value="0">Submetida</option>
                      <option selected value="1">Aprovada - Em Revisão pela Comissão</option>
                      <option value="2">Aprovada - Em Revisão pelo NAPE/Corpo Docente</option>
                      <option value="3">Solucionada</option>
                      <option value="4">Cancelada</option>
                    </select>
                  </div>
                </form>
              </td>
              <td class="align-middle"><%= denuncia.observacao || "Sem observação"%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
 </div>


 <script>
     function atualizarResponsavel(selectObj, denuncia){
       let denunciaModificada = JSON.parse(denuncia);
       denunciaModificada.responsavel = selectObj.value;
       $.post("/" + denunciaModificada.id, denunciaModificada, (data, status) => {
         console.log(data);
         console.log(status);
       })
     }

     function atualizarStatus(selectObj, denuncia) {
         let denunciaModificada = JSON.parse(denuncia);
         denunciaModificada.status = selectObj.value;
         console.log(denunciaModificada);
         $.post("/" + denunciaModificada.id, denunciaModificada, (data, status) => {
             console.log(data);
             console.log(status);
         })
     }
</script>