 <div class="container">
      <div class="filtragem">
        <div><span>Filtrar Relatório</span></div>
        <form class="row">
          <div class="col-lg-3 mb-3">
            <legend>Status:</legend>
            <select class="custom-select" id="Status" name="status">
              <option selected value="">Todas</option>
              <option value="0">Cancelada</option>
              <option value="1">Submetida</option>
              <option value="2">Em Revisão</option>
              <option value="3">Aprovada</option>
              <option value="4">Solucionada</option>
            </select>
          </div>

          <div class="col-lg-3">
            <legend>Inicio:</legend>
            <input class="custom-select" type="date" name="dataInicio" id="DataInicio">
          </div>

          <div class="col-lg-3">
            <legend>Fim:</legend>
            <input class="custom-select" type="date" name="dataFim" id="DataFim">
          </div>

          <div class="col-lg-3">
            <button type="button" class="btn btn-primary" onclick="filtrar()">Filtrar</button>
          </div>
        </form>
      </div>

      <div>
        <table class="table table-bordered table-responsive table-striped" id="tabelaDenuncias">
          <thead>
            <tr>
              <th>Email</th>
              <th>Responsável</th>
              <th>Data</th>
              <th>Descrição</th>
              <th>Visibilidade</th>
              <th>Status</th>
              <th>Observação</th>
            </tr>
          </thead>
          <tbody class="tableMembroAutenticado">
           <% denuncias.forEach(denuncia => { %>
            <tr>
              <td class="align-middle"><%=  denuncia.email %></td>
              <td class="nomeFormat align-middle">
                <form>
                  <div class="form-row">
                    <select class="custom-select statusSelect" onchange="atualizarResponsavel(this,'<%= denuncia._id%>')">
                      <option disabled <% if(!denuncia.responsavel){%> selected <%}%>>Nenhum</option>
                      <%usuarios.forEach(usuario => { %>
                        <option <% if(usuario.nome == denuncia.responsavel){%> selected <%}%>> <%= usuario.nome %> </option>
                      <% }); %>
                    </select>
                  </div>
                </form>
              </td>
              <td>
                <%= denuncia.datahoraSubmissao.toLocaleString() %>
              </td>
              <td class="align-middle">
                <%= denuncia.descricao%>
              </td>
              <td class="align-middle">
                <form>
                  <div class="form-row">
                    <select class="custom-select statusSelect" onchange="atualizarVisibilidade(this,'<%= denuncia._id %>')">
                      <option <% if(denuncia.visibilidade == 0){%> selected <%}%> value="0">Apenas Comissão</option>
                      <option <% if(denuncia.visibilidade == 1){%> selected <%}%> value="1">Pública</option>
                    </select>
                  </div>
                </form>
              </td>
              <td class="statusFormat align-middle">
                <form>
                  <div class="form-row">
                    <select class="custom-select statusSelect" onchange="atualizarStatus(this,'<%= denuncia._id %>')">
                      <option disabled <% if(denuncia.status == 0){%> selected <%}%> value="0">Cancelada</option>
                      <option <% if(denuncia.status == 1){%> selected <%}%> value="1">Submetida</option>
                      <option <% if(denuncia.status == 2){%> selected <%}%> value="2">Em Revisão</option>
                      <option <% if(denuncia.status == 3){%> selected <%}%> value="3">Aprovada</option>
                      <option <% if(denuncia.status == 4){%> selected <%}%> value="4">Solucionada</option>
                    </select>
                  </div>
                </form>
              </td>
              <td class="align-middle"><%= denuncia.observacao || "Sem observação"%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
 </div>

 <div class="teste"></div>


 <script>
     function atualizarResponsavel(selectObj, denunciaId){
       let denunciaModificada = {};
       denunciaModificada.responsavel = selectObj.value;
       $.post("/" + denunciaId, denunciaModificada)
        .done(flashSuccess)
        .fail(flashFail);
     }

     function atualizarStatus(selectObj, denunciaId) {
         let denunciaModificada = {};
         denunciaModificada.status = selectObj.value;
         $.post("/" + denunciaId, denunciaModificada)
                 .done(flashSuccess)
                 .fail(flashFail);
     }

     function atualizarVisibilidade(selectObj, denunciaId) {
         let denunciaModificada = {};
         denunciaModificada.visibilidade = selectObj.value;
         $.post("/" + denunciaId, denunciaModificada)
                 .done(flashSuccess)
                 .fail(flashFail);
     }

     function flashSuccess(data){
       message = "<div class='alert alert-success alert-dismissible fade show'>"+
               data.message+
               "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
               "<span aria-hidden='true'>&times;</span>"+
               "</button>"+
               "</div>";
       $("#flashMsgContainer").append(message);
       }

       function flashFail(data){
       message = "<div class='alert alert-danger alert-dismissible fade show'>"+
               data.responseJSON.message+
               "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
               "<span aria-hidden='true'>&times;</span>"+
               "</button>"+
               "</div>";
       $("#flashMsgContainer").append(message);
     }

     function filtrar(){
       let filtros ={
         status : $("#Status").val(),
         dataInicio: $("#DataInicio").val(),
         dataFim: $("#DataFim").val()
       }
       $.get("/admin/home?status="+filtros.status+"&dataInicio="+filtros.dataInicio+"&dataFim="+filtros.dataFim, (data, status)=>{
         if(status == "success"){
           let tabela = $(data).find('#tabelaDenuncias').html();
           $("#tabelaDenuncias").html(tabela);
         }
       });
     }
</script>
