 <div class="container">
      <div class="filtragem">
        <div><span>Filtrar Relatório</span></div>
        <form class="row">
          <div class="col-lg-3 mb-3">
            <legend>Status:</legend>
            <select class="custom-select" id="Status" name="status">
              <option selected value="">Todos</option>
              <option value="0">Submetida</option>
              <option value="1">Aprovada - NAPE</option>
              <option value="2">Aprovada - Comissão</option>
              <option value="3">Solucionada</option>
              <option value="4">Cancelada</option>
            </select>
          </div>

          <div class="col-lg-3">
            <legend>Inicio:</legend>
            <input class="custom-select" type="date" name="dataInicio" id="DataInicio">
          </div>

          <div class="col-lg-3">
            <legend>Fim:</legend>
            <input class="custom-select" type="date" name="dataFim" id="DataFim">
          </div>

          <div class="col-lg-3">
            <button type="button" class="btn btn-primary" onclick="filtrar()">Filtrar</button>
          </div>
        </form>
      </div>

      <div>
        <table class="table table-bordered table-responsive table-striped" id="tabelaDenuncias">
          <thead>
            <tr>
              <th>Email</th>
              <th>Responsável</th>
              <th>Data</th>
              <th>Reclamação</th>
              <th>Status</th>
              <th>Observação</th>
            </tr>
          </thead>
          <tbody class="tableMembroAutenticado">
           <% denuncias.forEach(denuncia => { %>
            <tr>
              <td class="align-middle"><%=  denuncia.email %></td>
              <td class="nomeFormat align-middle">
                <form>
                  <div class="form-row">
                    <select class="custom-select statusSelect" onchange="atualizarResponsavel(this,'<%= JSON.stringify(denuncia)%>')">
                      <option disabled <% if(!denuncia.responsavel){%> selected <%}%>>Nenhum</option>
                      <%usuarios.forEach(usuario => { %>
                        <option <% if(usuario.nome == denuncia.responsavel){%> selected <%}%>> <%= usuario.nome %> </option>
                      <% }); %>
                    </select>
                  </div>
                </form>
              </td>
              <td>
                <%= denuncia.datahoraSubmissao.toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
              </td>
              <td class="align-middle">
                <%= denuncia.descricao%>
              </td>
              <td class="statusFormat align-middle">
                <form>
                  <div class="form-row">
                    <select class="custom-select statusSelect" onchange="atualizarStatus(this,'<%= JSON.stringify(denuncia) %>')">
                      <option disabled <% if(denuncia.status == 0){%> selected <%}%> value="0">Submetida</option>
                      <option <% if(denuncia.status == 1){%> selected <%}%> value="1">Aprovada - Em Revisão pela Comissão</option>
                      <option <% if(denuncia.status == 2){%> selected <%}%> value="2">Aprovada - Em Revisão pelo NAPE/Corpo Docente</option>
                      <option <% if(denuncia.status == 3){%> selected <%}%> value="3">Solucionada</option>
                      <option <% if(denuncia.status == 4){%> selected <%}%> value="4">Cancelada</option>
                    </select>
                  </div>
                </form>
              </td>
              <td class="align-middle"><%= denuncia.observacao || "Sem observação"%></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
 </div>

 <div class="teste"></div>


 <script>
     function atualizarResponsavel(selectObj, denuncia){
       let denunciaModificada = JSON.parse(denuncia);
       denunciaModificada.responsavel = selectObj.value;
       $.post("/" + denunciaModificada.id, denunciaModificada, (data, status) => {
         console.log(data);
         console.log(status);
       })
     }

     function atualizarStatus(selectObj, denuncia) {
         let denunciaModificada = JSON.parse(denuncia);
         denunciaModificada.status = selectObj.value;
         console.log(denunciaModificada);
         $.post("/" + denunciaModificada.id, denunciaModificada, (data, status) => {
             console.log(data);
             console.log(status);
         })
     }

     function filtrar(){
       let filtros ={
         status : $("#Status").val(),
         dataInicio: $("#DataInicio").val(),
         dataFim: $("#DataFim").val()
       }
       $.get("/admin/home?status="+filtros.status+"&dataInicio="+filtros.dataInicio+"&dataFim="+filtros.dataFim, (data, status)=>{
         if(status == "success"){
           let tabela = $(data).find('#tabelaDenuncias').html();
           $("#tabelaDenuncias").html(tabela);
         }
       });
     }
</script>